


@media screen and (min-width: 768px) {
  .containerStyles {
    width: 80%;
    height: 25rem;
  }
}

@media screen and (min-width: 1024px) {
  .containerStyles {
    width: 75%;
    height: 30rem;
  }
}

@media screen and (min-width: 1600px) {
  .containerStyles {
    width: 50%;
    height: 35rem;
  }
}


